/**
 * Place your custom styles here.
 */

/* DRUPAL NODES - WIKI */
.wiki .label a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.wiki .label a:hover {
    color: white;
}
