/**
 * Place your custom styles here.
 */

/* DRUPAL WEBFORM */
.microstart-webform-progressbar-container {
    padding-bottom:10px;
}

.microstart-webform-progressbar {
	counter-reset: step;
    padding-bottom:100px;
}

.microstart-webform-progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #7d7d7d;
}

.microstart-webform-progressbar li:before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}

.microstart-webform-progressbar li.active+li:before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}

.microstart-webform-progressbar li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 15px;
	left: -50%;
	z-index: -1;
}

.microstart-webform-progressbar li:first-child:after {
	content: none;
}

.microstart-webform-progressbar li.active {
	font-weight: bold;
	font-size: 120%;
}

.microstart-webform-progressbar li.active:before {
    color: white;
	border-color: #FF9919;
    background-color: #FF9919;
}

.microstart-webform-progressbar li.completed {
	color: white;
}

.microstart-webform-progressbar li.completed:before {
    color: white;
	border-color: #FF9919;
    background-color: #FF9919;
}

.microstart-webform-progressbar li.completed+li:before {
    color: white;
    border-color: #FF9919;
    background-color: #FF9919;
}
.microstart-webform-progressbar li.completed+li:after {
	background-color: #FF9919;
}

.webform-component-select > .control-label {
     display:block; 
}

#edit-submitted-is-contacted-in-english {
     display:inline-block; 
}

.day {
    max-width: 100px;
    display: inline-block;
}

.month {
    max-width: 100px;
    display: inline-block;
}

.year {
    max-width: 100px;
    display: inline-block;
}
