/**
 * Place your custom styles here.
 */

/* DRUPAL BLOCKS */
#block-menu-menu-anonymous {
	display: inline-block;
}

#block-menu-menu-training {
    display: inline-block;
}

#block-menu-menu-client {
    display: inline-block;
}

#block-menu-menu-partner {
    display: inline-block;
}

#block-menu-menu-volunteer {
    display: inline-block;
}

#block-menu-menu-advisor {
    display: inline-block;
}

#block-menu-menu-user-logged-off {
	display: inline-block;
	float: right;
}

#block-menu-menu-user-logged-in {
    display: inline-block;
    float: right;
}

.carousel-inner>.item>iframe {
	width: 100%;
	height: 500px;
}

.ct_b_help {
	
}

.ct_b_links {
	color: white;
	background-color: #0066CC;
	border-top: 10px solid #0066CC;
	border-bottom: 10px solid #0066CC;
}

.ct_b_links a {
	color: #FFFFFF;
}

.ct_b_partners {
	color: white;
	background-color: black;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	text-align: center;
}

.ct_b_copyright {
	color: white;
	background-color: grey;
	border-top: 10px solid grey;
	border-bottom: 10px solid grey;
	text-align: center;
}

.ct_b_copyright a {
	color: #0066CC;
}