/**
 * Place your custom styles here.
 */

/* DRUPAL NODES */
.region.region-content {
	padding-top: 40px;
	padding-bottom: 10px;
}

.node-unpublished {
	background-color: transparent;
}

.page-user .tabs--primary {
    display:none;
}

.page-user-edit .breadcrumb {
    display:none;
}

.page-user-password .breadcrumb {
    display:none;
}

.page-user-register .breadcrumb {
    display:none;
}

.page-user-edit .tabs--primary {
	display:none;
}

.microstart-font-size {
    font-size: 120%;
}

.microstart-button-font-size {
    font-size: 175%;
}

.microstart-button a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.microstart-button a:hover {
    color: #FF9919;
}

.microstart-button-secondary a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.microstart-button-secondary a:hover {
    color: #0066CC;
}

.microstart-button-primary-secondary a {
    color: #0066CC;
    background-color: transparent;
    text-decoration: none;
}

.microstart-button-primary-secondary a:hover {
    color: #FF9919;
}

.microstart-button-personal-space a {
    color: #FF9919;
    background-color: transparent;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
}

.microstart-button-personal-space a:hover {
    color: #0066CC;
}

.microstart-tab-training-list a {
    color: #0066CC;
    background-color: transparent;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}

.microstart-tab-training-list a:hover {
    color: #FF9919;
}

.microstart-tab-training-list .nav-tabs > li.active > a, .microstart-tab-training-list .nav-tabs > li.active > a:hover, .microstart-tab-training-list .nav-tabs > li.active > a:focus {
    color: #FF9919;
}

.ct_c_eligibility_redirection {
    max-width: 500px;
}

.ct_c_eligibility_partners {
	text-align: center;
}

.ct_c_client_list_collection {
    text-align: center;
}

.node-ct-c-client-list-collection header {
    display:none;
}

.ct_c_simulation a {
	color: #FFFFFF;
	text-decoration: none;
}

.ct_c_simulation input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7.3px 0;
}

.ct_c_simulation input[type=range]:focus {
	outline: none;
}

.ct_c_simulation input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 11.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ff9919;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.ct_c_simulation input[type=range]::-webkit-slider-thumb {
	box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	border: 1.8px solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #ff9919;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7.5px;
}

.ct_c_simulation input[type=range]:focus::-webkit-slider-runnable-track
	{
	background: #ffa433;
}

.ct_c_simulation input[type=range]::-moz-range-track {
	width: 100%;
	height: 11.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ff9919;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.ct_c_simulation input[type=range]::-moz-range-thumb {
	box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	border: 1.8px solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #ff9919;
	cursor: pointer;
}

.ct_c_simulation input[type=range]::-ms-track {
	width: 100%;
	height: 11.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

.ct_c_simulation input[type=range]::-ms-fill-lower {
	background: #ff8e00;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.ct_c_simulation input[type=range]::-ms-fill-upper {
	background: #ff9919;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.ct_c_simulation input[type=range]::-ms-thumb {
	box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
	border: 1.8px solid #00001e;
	height: 26px;
	width: 26px;
	border-radius: 15px;
	background: #ff9919;
	cursor: pointer;
	height: 11.4px;
}

.ct_c_simulation input[type=range]:focus::-ms-fill-lower {
	background: #ff9919;
}

.ct_c_simulation input[type=range]:focus::-ms-fill-upper {
	background: #ffa433;
}

#node-34 {
	display: none;
}

#node-35 {
    display: none;
}

#node-36 {
    display: none;
}

#node-37 {
    display: none;
}

.panel-microstart-back {
    background-color:rgba(243,243,243,1);
    min-height: 65vh;
    width:98vw;
}

.microstart-button-pay a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.microstart-button-pay a:hover {
    color: #0066CC;
}

.ct_c_credit_management td {
     text-align:left; 
}

.ct_c_client_details td {
     text-align:left; 
}