/**
 * Place your custom styles here.
 */

/* Color Chart */
.color-primary {
	color: #0066CC; /* blue */
}
.background-color-primary {
    background-color: #0066CC; /* blue */
}
.color-secondary {
	color: #FF9919; /* orange */
}
.background-color-secondary {
    background-color: #FF9919; /* orange */
}
/* ./color-chart */

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

#navbar {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

.navbar-nav {
	margin: 0px;
}

.navbar-username {
    font-size: 120%;
    color: #0066CC;
}

.navbar-default .navbar-nav>li>a {
	font-size: 120%;
	color: #0066CC;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #FFFFFF;
	background-color: #0066CC;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-inline-block {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.row-centered {
	text-align: center;
}

.no-padding {
    padding:0;
}

.no-margin {
    margin:0;
}

.col-centered {
	display: inline-block;
	float: none; /* reset the text-align */
	text-align: left; /* inline-block space fix */
}

.col-centered-centered {
	display: inline-block;
	float: none;
	text-align: center;
}

.col-centered-right {
	display: inline-block;
	float: none;
	text-align: right;
}

.footer {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: 0px;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content>.tab-pane:not (.active ) {
	display: block;
	height: 0;
	overflow-y: hidden;
}
/*bootstrap hack end */

/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/

/* content styles */
.inside-full-height {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
}

.col-height {
	display: table-cell;
	float: none;
	height: 100%;
}

.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}

@media only screen and (max-width: 500px) {
	.center-text-on-mobile {
		text-align: center;
	}
	.ct_b_links>.row>.col-centered-centered {
		text-align: left;
	}
/* 	.hide-on-mobile {
	   display: none;
	} */
}

@media ( min-width :768px) {
/*     .hide-on-big-screen {
       display: none;
    } */
	.navbar-nav li a {
	  line-height: 61px;
	}
}

.button-sharp {
    border-radius: 0;
}